/* !header */
.bar{
  display: none;
}
.header-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 158px;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.first-header-bg {
 max-width: 505px;
 width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.first-header-bg a {
  color: white;
  font-size: 24px;
  line-height: 36px;
  font-family: "Poppins";
}
.first-header-bg a {
  position: relative;
}
.first-header-bg a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 116, 32, 1);
  bottom: 0;
  left: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.first-header-bg a:hover::after {
  width: 100%;
}
.first-header-bg a:hover {
  color: rgba(255, 116, 32, 1);
}
.language {
  width: 165px;
  height: 56px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.fa-chevron-down {
  color: white;
  font-size: 30px;
}
.contact-div {
  background-color: rgba(255, 116, 32, 1);
  display: grid;
  place-items: center;
  border-radius: 15px;
  width: 194px;
  height: 66px;
}
.class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
